@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    color: white;
    background-image: url('/images/light-3176887_1280.jpg');
    background-size: cover;
    background-position-y: 170%;
    background-attachment: fixed;
    position: relative;
}

