@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    color: black;
    /* background-color: whitesmoke; */
    background-color: white;
    background-size: cover;
    background-position-y: 170%;
    background-attachment: fixed;
    position: relative;
}